
h2 Events

table.ui.inverted.blue.padded.definition.table
   thead: tr
      th
      th Arguments
      th Description
   tbody
      each event, name in events
         tr
            td= name
            td= event[0]
            td= event[1]