
h1.ui.dividing.header Attributes

h2: strong active {Number}
p Initializes the accordion with the given 'active' index

ui-accordion(active="1" v-with="sections: sections")

:markdown
    ```html
    <ui-accordion active="1" v-with="sections: sections"></ui-accordion>
    ```

.ui.divider