
h1.ui.dividing.header Usage

#usage
    :markdown
        ```html
        <ui-sidebar class="raised vertical inverted labeled icon menu">
            <a class="item">
                <i class="home icon"></i>
                Home
            </a>
            <a class="item">
                <i class="smile icon"></i>
                Smile
            </a>
        </ui-sidebar>
        ```
    - var items = [ 'Home', 'Smile' ]
    ui-sidebar(class="raised vertical inverted labeled icon menu" v-ref="sidebar")
    each item in items
        a.item
            i.icon(class="#{ item.toLowerCase() }")
            | #{item}