
h1 Usage
:markdown
    ```html
    <ui-checkbox class="toggle" name="profileVisible" label="Make my profile visible"></ui-checkbox>
    ```
ui-checkbox(class="toggle" name="profileVisible" label="Make my profile visible" v-ref="checkbox")