
h1 Usage
:markdown
    ```html
    <ui-modal type="basic" title="Confirm account removal">
        <div class="content">Are you sure you want to delete this account?</div>
    </ui-modal>
    ```

ui-modal(type="basic" title="Confirm account removal" v-ref="modal")
    .content Are you sure you want to delete this account?