
h1.ui.dividing.header Usage

#usage
    :markdown
        ```html
        <ui-rating class="massive star" rating="5" max="15"></ui-rating>
        ```
    .ui.segment: ui-rating(class="massive star" rating="5" max="15" v-ref="rating")