
// Behavior docs
h1 Behavior
p A dropdown instance has the following methods

div
    .ui.button(v-on="click: $.dropdown.$toggle") $toggle()
    .ui.button(v-on="click: $.dropdown.$hide") $hide()
    .ui.button(v-on="click: $.dropdown.$show") $show()
