
// Content

h1.ui.dividing.header= 'Customizing the <content>'
p If you need to customize the template of this module, the following partials are replacable:
    | content(select=".menu")
    | content(select=".item")

- var component = current.source
- var templatePath = 'https://github.com/vueui/vue-ui/blob/master/components/' + component + '/' + component + '.jade'
a(href="#{ templatePath }") #{ component }.jade
